body {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: arial black;

}


.board-container {
    border: 3px solid antiquewhite;
    border-radius: 5%;
    border-spacing: 7px;

    width: 40vh;
    height: 50vh;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;

}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    color: #f6f7f6;

    padding: 2px;
    cursor: pointer;

    border: 2.0px inset rgba(12, 19, 10, 0.377);



}

.uncover {
    background-color: rgb(116, 114, 111);
}

.uncover-mine {
    background-color: rgb(235, 57, 13);
    padding: 0px;
}


footer {

    display: flex;
    bottom: 0;
    width: 100%;

    padding: 5px;
    background-color: rgba(176, 196, 222, 0.467);

    font-size: 20px;
    text-align: center;

    display: block;
    unicode-bidi: isolate;
}

.img {
    height: 20px;
    width: 20px;
}

.btn {
    align-items: center;

    border-radius: 42px;
    border-width: 0;

    color: #277408;
    background-color: antiquewhite;
    cursor: pointer;

    font-size: 18px;

    letter-spacing: .04em;
    line-height: 16px;

    margin: 1.5px;
    padding: 10px 10px;

    font-weight: 1000;

    bottom: 800px;
}

h1 {
    color: antiquewhite;
    font-size: 40px;
    text-align: center;
    margin: 2px;
}


h3 {
    color: antiquewhite;
    margin: 1px;

    font-weight: 900;
}

.restart {

    border-radius: 42px;


    color: #277408;
    background-color: antiquewhite;
    cursor: pointer;

    font-family: Copperplate, Papyrus, fantasy;
    font-size: 18px;

    letter-spacing: .04em;
    line-height: 16px;

    padding: 5px 5px;

    font-weight: 1000;
    position: relative;


}

.img-btn {
    height: 70px;
}

.life1 {
    height: 50px;
    align-items: left;
    position: absolute;
    left: 20vw;
}


.life2 {
    height: 50px;
    align-items: left;

    position: absolute;
    left: 30vw;

}

.life3 {
    height: 50px;
    align-items: left;
    position: absolute;
    left: 10vw;
}

.hidden {
    display: none;
}


h2 {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    color: #277408;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;

    margin: 20px;

    transform: translate(-50%, -50%);
}

h4 {
    color: rgb(8, 8, 7);
    position: absolute;
    right: 32px;
    text-align: right;
    margin: 2px;
    top: 192px;

}

.btn-safe {

    padding: 0;


}

.safe {

    position: absolute;
    height: 50px;
    padding: 0%;
    margin: 10px;
    cursor: pointer;
    right: 26%;
    top: 14.5%;

}

.cell-safe {
    background-color: rgb(236, 203, 11);
}

.btn-wand{
    padding: 0;
}

.wand {

    position: absolute;
    height: 55px;
    top: 350px;

    padding: 0px;
    margin: 10px;
    cursor: pointer;
    right: 25%;
    top: 21.5%;

}


h5 {
    color: rgb(8, 8, 8);
    position: absolute;
    right: 32px;
    text-align: right;
    margin: 2px;
    top: 270px;
    font-size: 16px

}

.hint {
    background-color: rgb(7, 102, 19);
}
