:root {
    --clr-main: rgb(231, 205, 171);
    --clr-hint-background: rgba(101, 179, 111, 0.644);
    --clr-safe-background: rgba(206, 191, 52, 0.548);

}


body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
}


.container {
    text-align: center;
    max-width: 550px;
    margin: auto;
    align-items: center;
    position: relative;
    border: 10px inset var(--clr-main);
    overflow: hidden;
}

.board-container {
    padding: 4px;
    margin: 60px auto;
    position: relative;
    top: 22px;
}

.board td {
    border-radius: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    padding: 1px;
    cursor: pointer;
    border: 2px inset var(--clr-main);
    margin: 1px;
}

.uncover {
    background-color: var(--clr-main);
}

.uncover-mine {
    background-color: rgba(248, 16, 16, 0.973);
    padding: 0px;
}


footer {

    padding: 5px;
    background-color: rgba(176, 196, 222, 0.467);

    font-size: 20px;
    text-align: center;
}

.img {
    height: 26px;
    width: 21px;
}

.btn {
    background-color: var(--clr-main);
    border-radius: 42px;
    border-width: 2px;
    color: #277408;
    cursor: pointer;

    font-size: 16px;
    font-weight: 1000;
    letter-spacing: .02em;
    line-height: 16px;

    margin: 1.5px;
    padding: 5px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0.5px;
}

h2 {
    width: 45%;
    align-items: center;

    color: var(--clr-main);
    font-size: 1rem;
    border-radius: 20px;
    padding: 1px;
    position: relative;
    margin: 2px;
    left: 30%;
    -webkit-text-stroke: 1px rgb(1, 2, 1);

}

h3 {
    color: rgba(250, 235, 215, 0.733);
    background-color: rgba(89, 211, 73, 0.467);
    margin: 1px;
    font-size: 1.50rem;
    
    -webkit-text-stroke: 1px rgb(1, 2, 1);font-weight: 900;
}

h4 {
    color: var(--clr-main);

    top: 235px;
    left: 60%;
    font-size: 1rem;
    -webkit-text-stroke: 1px rgb(1, 2, 1);
    position: absolute;
    margin: 0;

}

h5 {
    top: 235px;
    left: 46%;
    color: var(--clr-main);
    -webkit-text-stroke: 1px rgb(1, 2, 1);
    left: 78%;
    font-size: 1rem;
    position: absolute;
    margin: 0;
}


.restart {
    margin: auto;
    border-radius: 42px;
    background-color: var(--clr-main);
    cursor: pointer;
    padding: 1%;
    position: absolute;
    left: 45%;
}

.img-btn {
    height: 40px;
}

.life1 {
    height: 50px;
    position: absolute;
    left: 5%;
}


.life2 {
    height: 50px;
    position: absolute;
    left: 17%;
}

.life3 {
    height: 50px;
    position: absolute;
    left: 28%;
}

.hidden {
    display: none;
}


.btn-safe {
    position: absolute;
    margin: auto;
    border-radius: 42px;
    background-color: var(--clr-main);
    cursor: pointer;
    padding: 1%;
    position: absolute;
    left: 64%;
}

.safe {
    height: 30px;

}

.cell-safe {
    background-color: rgba(206, 191, 52, 0.548);
}

.btn-wand {
    
    position: absolute;
    margin: auto;
    padding: 1%;
    border-radius: 42px;
    left: 80%;
    cursor: pointer;


    background-color: var(--clr-main);
}

.wand {
    height: 30px;
}

.hint {
    background-color: var(--clr-hint-background)
}